@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* global bg/text classes applied on <body> in index.html to avoid @apply issues */
html, body, #root { height: 100% }
body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale }
